<ion-header>
  <ion-toolbar  color="primary" class="ion-text-center">
    <ion-title>Edit Debt</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]=true padding class="backround">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="debt.name" required></ion-input>
  </ion-item>

      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select value="category" cancelText="true" placeholder="Select category" [(ngModel)]="debt.category" required>
          <ion-select-option value="debtor">Debtor</ion-select-option>
          <ion-select-option value="creditor">Creditor</ion-select-option>
        </ion-select>
      </ion-item>
    
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input type="text" [(ngModel)]="debt.description" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Amount</ion-label>
    <ion-input type="number" placeholder=" 0" [(ngModel)]="debt.amount" required>RM </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-input type="date" [(ngModel)]="debt.date" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Note</ion-label>
    <ion-input type="text" [(ngModel)]="debt.note" required></ion-input>
  </ion-item>

  <ion-button (click)="updateDebt(debt)" expand="block" fill="solid" shape="default">
    UPDATE
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Copyright 2021</ion-title>
  </ion-toolbar>
</ion-footer>